@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor {
  display: inline-block;
  height: 1em; /* Adjust as needed */
  border-right: 0.1em solid hsl(30, 68%, 53%); /* Adjust color as needed */
  animation: blink 0.75s step-end infinite;
  line-height: 1; /* Adjust as needed */
  vertical-align: bottom; /* Adjust as needed */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
