@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor {
  height: 1.2em;
  display: inline-block;
  border-right: 0.1em solid hsl(30, 68%, 53%); /* Adjust color as needed */
  animation: blink 0.75s step-end infinite;
  line-height: 1; /* Adjust as needed */
  vertical-align: middle; /* Adjust as needed */
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.black-overlay {
  background: linear-gradient(
    0deg,
    rgba(11, 20, 31, 0.5) 0%,
    rgba(11, 20, 31, 0.5) 100%
  );
}
