---
import Layout from '../layouts/Layout.astro';
import MultiLayerParallax from '../components/MultiLayerParallax';
import CardList from '../components/CardList.astro';

---

<Layout title="Nove Círculos - Universo de RPG">
	<MultiLayerParallax client:visible />
	<CardList />
	<section class="h-screen bg-black">

	</section>
</Layout>
