@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror p.is-editor-empty:first-child::before {
  color: #919eb1;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
