---
import { Image } from 'astro:assets'
import Card from '../components/Card.astro';
---
<div class="h-[80vh] flex flex-col md:items-center md:justify-center border-t border-primary">
 <section class="bg-gradient-to-b max-w-screen-2xl from-primary to-secondary w-full lg:w-[85%] md:-translate-y-[63%] bottom-0 z-20 md:mt-4 h-2/4 md:p-[2px]">
  <div class="flex h-full w-full items-center justify-center bg-gray-950 back">
   <div class="flex flex-col w-full h-full relative text-left md:text-center">
   <Image class='absolute w-full h-full object-cover object-top z-0' src="/card-image.webp" alt='Fotografia de um homem com runas no seu entorno' width={1920} height={1080} />
    <h2 class="w-4/5 3xl:w-2/4 mt-16 relative text-md md:text-2xl mx-auto font-medium text-gray-200">
     Afinal, o que é <strong class="text-secondary">Nove Círculos?</strong>
    </h2>
    <p class="text-gray-300/90 text-sm md:text-lg relative w-4/5 3xl:w-2/4 mx-auto mt-4">
      Nove Círculos é o universo que dá palco para Elfaer, um cenário RPG de Fantasia Medieval, onde tudo é possível.
      Uma experiência imersiva que traz magia, guerras e mistérios em formato de Podcast.
    </p>
   </div>
  </div>
  <ul class="flex flex-row no-wrap snap-x snap-mandatory overflow-x-scroll md:overflow-visible gap-4">
  <Card 
   className="md:order-1 order-2"
   img="immersion"
   title='Imersão' 
   highlightedSection='Mergulhe em aventuras imersivas com som de alta qualidade, narrativas emocionantes.' 
   firstParagraph='Nossa meta é fazer com que tanto jogadores, quanto ouvintes, se sintam parte da trama que se desenrola. Apesar do RPG ser jogado em tempo real, criamos de maneira aprofundada a história dos nossos cenários de fantasia. Bem como, cada personagem, é criado para ter seu próprio espaço nesse universo fantástico.' 
   secondParagraph='O universo também conta com uma infraestrutura complexa. Com ambiente que involve inteligência artificial, integrações com serviços terceiros, etc. O Nove Círculos RPG não conta com uma equipe técnica, ou de produção, e sem a tecnologia nada disso seria possível. '
   /> 
   <Card 
   className="order-1 md:order-2"
   img="inclusion"
   title='Interatividade' 
   highlightedSection='O que torna o universo Nove Círculos verdadeiramente especial é a maneira como ele envolve e empodera sua comunidade.' 
   firstParagraph='Esta não é uma jornada solitária. Aqui, sua voz molda o universo. Seus sonhos alimentam a narrativa. Suas ideias desafiam os planos do mestre. Junte-se a nós e embarque numa aventura onde você é mais do que um espectador.' 
   secondParagraph='Através de nossos programas de financiamento coletivo e outras iniciativas, damos as ferramentas para que qualquer pessoa com uma ideia brilhante possa impactar diretamente a narrativa. Não importa se você é um ouvinte ou um apoiador generoso, seu papel é fundamental para o desenvolvimento do nosso mundo de fantasia.'
   />
   <Card 
    className="order-3 md:order-3"
    img="entertainment"
    title='Entretenimento' 
    highlightedSection='Nove Círculos não é apenas um podcast, é um universo expansivo de puro entretenimento em RPG de mesa.' 
    firstParagraph='É um mundo em que Mestre, Jogadores e Ouvintes se unem para criar histórias memoráveis. Aqui, a diversão não é um mero detalhe—ela é o coração pulsante que alimenta cada narrativa, anima cada personagem e dá vida a cada episódio inesquecível.' 
    secondParagraph='Mas não se engane! Enquanto prezamos pela diversão acima de tudo, temos um senso de comunidade tão forte que os jogadores aqui não são apenas participantes—são amigos. E, verdade seja dita, estes "amigos" adoram desafiar qualquer enredo cuidadosamente planejado pelo mestre.'
    /> 
   
  </ul>
 </section>
</div>