<blockquote class="w-1/2 leading-loose pb-20 mx-auto max-w-screen-xl text-center text-sm text-gray-400 font-semibold px-8">
    <i>"Nove Círculos não é minha história, 
     é uma história contada por um grupo, 
     e moldada pela comunidade. 
     Não existe um real significado para tudo, 
     nossos ouvintes têm a liberdade de imaginação total, 
     e não existe uma definição arbitrária sobre como as coisas são. 
     Nove Círculos não é sobre bem e mal, é sobre pessoas, sobre universos além do nosso."<span class="not-italic text-gray-300"> - Mestre Patrick </span></i>
</blockquote>
